#include<windows.h>
#include "Api.h"

MenuPrincipal MENU
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "Registro",ID_REGISTRO
        MENUITEM "Buscar",ID_BUSCAR
        MENUITEM "Salir",ID_SALIR
        
    END
END

DlgRegistro DIALOG 10,10,300,200
STYLE  DS_MODALFRAME|WS_SYSMENU|WS_POPUP|WS_CAPTION
CAPTION "Registro de personal"
FONT 12,"Arial"
BEGIN
    CONTROL "Registro de personal",100,"STATIC",SS_CENTER|WS_VISIBLE|WS_CHILD,100,5,100,10

    CONTROL "Datos personales",100,"BUTTON",BS_GROUPBOX|WS_VISIBLE|WS_CHILD,5,15,290,70
    CONTROL "Nombre",STT_NOMBRE,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,30,30,10
    CONTROL "",EDT_NOMBRE,"EDIT",ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,41,30,150,10
    CONTROL "Nacionalidad: ",STT_NACIONALIDAD,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,45,45,10
    CONTROL "",EDT_NACIONALIDAD,"EDIT",ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,56,45,135,10
    CONTROL "DNI: ",STT_DNI,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,60,45,10
    CONTROL "",EDT_DNI,"EDIT",ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,56,60,80,10
    CONTROL "Edad: ",STT_EDAD,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,140,60,20,10
    CONTROL "",EDT_EDAD,"EDIT",ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,161,60,30,10

    CONTROL "Datos empresariales",101,"BUTTON",BS_GROUPBOX|WS_VISIBLE|WS_CHILD,5,105,290,55
    CONTROL "Cargo: ",STT_CARGO,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,120,25,10
    CONTROL "",EDT_CARGO,"EDIT",WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,36,120,163,10
    CONTROL "Salario: ",STT_SALARIO,"STATIC",WS_VISIBLE|WS_CHILD|SS_LEFT,10,135,25,10
    CONTROL "",EDT_SALARIO,"EDIT",WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,36,135,50,10
    CONTROL "Fecha de ingreso",STT_FECHA,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,90,135,58,10
    CONTROL "",EDT_FECHA,"EDIT",WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,149,135,50,10
    CONTROL "Agregar",ID_AGREGAR,"BUTTON",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,170,50,12
    CONTROL "Cancelar",ID_ELIMINAR,"BUTTON",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,160,170,50,12
END

DlgBuscar DIALOG 10,10,300,200
STYLE  DS_MODALFRAME|WS_SYSMENU|WS_POPUP|WS_CAPTION
CAPTION "Consulta de personal"
FONT 12,"Arial"
BEGIN
    CONTROL "Consulta de personal",100,"STATIC",SS_CENTER|WS_VISIBLE|WS_CHILD,100,5,100,10

    CONTROL "Datos personales",100,"BUTTON",BS_GROUPBOX|WS_VISIBLE|WS_CHILD,5,15,290,70
    CONTROL "Nombre",STT_NOMBRE,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,30,30,10
    CONTROL "",EDT_NOMBRE,"EDIT",ES_READONLY|ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,41,30,150,10
    CONTROL "Nacionalidad: ",STT_NACIONALIDAD,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,45,45,10
    CONTROL "",EDT_NACIONALIDAD,"EDIT",ES_READONLY|ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,56,45,135,10
    CONTROL "DNI: ",STT_DNI,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,60,45,10
    CONTROL "",EDT_DNI,"EDIT",ES_READONLY|ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,56,60,80,10
    CONTROL "Edad: ",STT_EDAD,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,140,60,20,10
    CONTROL "",EDT_EDAD,"EDIT",ES_READONLY|ES_LEFT|WS_VISIBLE|WS_CHILD|WS_TABSTOP,161,60,30,10

    CONTROL "Datos empresariales",101,"BUTTON",BS_GROUPBOX|WS_VISIBLE|WS_CHILD,5,105,290,55
    CONTROL "Cargo: ",STT_CARGO,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,10,120,25,10
    CONTROL "",EDT_CARGO,"EDIT",ES_READONLY|WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,36,120,163,10
    CONTROL "Salario: ",STT_SALARIO,"STATIC",WS_VISIBLE|WS_CHILD|SS_LEFT,10,135,25,10
    CONTROL "",EDT_SALARIO,"EDIT",ES_READONLY|WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,36,135,50,10
    CONTROL "Fecha de ingreso",STT_FECHA,"STATIC",SS_LEFT|WS_VISIBLE|WS_CHILD,90,135,58,10
    CONTROL "",EDT_FECHA,"EDIT",ES_READONLY|WS_VISIBLE|WS_CHILD|ES_LEFT|WS_TABSTOP,149,135,50,10
    CONTROL "Siguiente",ID_SIGUIENTE,"BUTTON",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,170,50,12
    CONTROL "Anterior",ID_ANTERIOR,"BUTTON",BS_PUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,160,170,50,12
END